/* .input {
	
	position:relative;
	
	font-size: 1.5em;
	
	background: linear-gradient(21deg, #10abff, #1beabd);
	
	padding: 3px;
	
	display: inline-block;
	
	border-radius: 9999em;
	
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; 
		
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}

	span {
		
		transform: scale(.993, .94); 
		transition: transform .5s, opacity .25s;
		opacity: 0; 
		
		position:absolute;
		z-index: 0; 
		margin:4px; 
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; 
		
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
	}
	
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height:1.5;
	font-size:1em;
}

body {
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
}

html, body {
	height:100%;
}

input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#cbd0d5;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
} */

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.search-bar {
    text-align: center;
    display: flex;
    align-items: center;
    width: 400px;
    background-color: rgb(255, 102, 0);
    border-radius: 20px;
    padding: 5px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: orange;
    border-radius: 50%;
    cursor: pointer;
}

.search-icon i {
    font-size: 20px;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}

fieldset {
    box-shadow: 4px 4px 4px #ff4101;
}